{% extends 'core/base.html' %}
{% load static %}

{% block title %}Contato - Gislaine Teles Engenharia{% endblock %}

{% block content %}

<section class="container medium">
    <div class="box" style="margin-top: 50px; background-color: white; border-radius: 8px; padding: 2rem;">
        <h2 style="text-align: center; margin-bottom: 2rem; color: var(--text-color);">Entre em contato via E-mail</h2>
        <p>Preencha o formulário abaixo para solicitar um orçamento</p>
        
        <form method="post" action="{% url 'contato' %}" class="contact-form">
            {% csrf_token %}
            <div class="row gtr-50 gtr-uniform">
                <div class="col-6 col-12-mobilep">
                    <input type="text" name="nome" id="nome" placeholder="Nome" required style="background-color: #ffeeba; border-color: #a6a6a6;" />
                </div>
                <div class="col-6 col-12-mobilep">
                    <input type="email" name="email" id="email" placeholder="E-mail" required style="background-color: #e6e6fa; border-color: #a6a6a6;" />
                </div>
                <div class="col-6 col-12-mobilep">
                    <input type="text" name="telefone" id="telefone" placeholder="Telefone" required style="background-color: #d1e7dd; border-color: #a6a6a6;" />
                    <div class="col-6 col-12-mobilep">
										<select name="service" id="service" placeholder="service" required style="background-color: #d1e7dd; border-color: #a6a6a6;" />
											<option value="">Selecione o serviço</option>
											<option value="entrega">Vistoria de Entrega de Chaves</option>
											<option value="sindico">Vistoria para Síndicos</option>
											<option value="laudo">Laudos Técnicos</option>
											<option value="outro">Outro serviço</option>
										</select>
									</div>
                </div>
                <div class="col-6 col-12-mobilep">
                    <input type="text" name="cidade" id="cidade" placeholder="Cidade" required style="background-color: #e6e6fa; border-color: #a6a6a6;" />
                </div>
                <div class="col-12">
                    <input type="text" name="assunto" id="assunto" placeholder="Assunto" required style="background-color: #e6e6fa; border-color: #a6a6a6;" />
                </div>
                <div class="col-12">
                    <textarea name="mensagem" id="mensagem" placeholder="Mande sua mensagem" required style="background-color: #ffe5d9; border-color: #a6a6a6;"></textarea>
                </div>
                <div class="col-12">
                    <ul class="actions special">
                        <li><input type="submit" value="Enviar e-mail" style="background-color: #5a7d7c; color: white; border: none; padding: 0.8rem 2rem; font-size: 1rem; border-radius: 4px; cursor: pointer; margin: 2rem auto; display: block;" /></li>
                    </ul>
                </div>
                <div class="col-12 text-center">
                    {% if messages %}
                        {% for message in messages %}
                        <h4 style="text-align: center;" class="{{ message.tags }} {% if message.tags %} {% endif %}"> {{ message }} </h4>
                        {% endfor %}
                    {% endif %}
                </div> 
            </div>
        </form>
        
    </div>
</section>
{% endblock content %}
